<!DOCTYPE html>
@{ var myMessage =	"Hello World"; }

<html>
<head>
    <title></title>
    <link href="app/css/survey.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <script src="app/js/jquery-2.2.3.min.js"></script>
    <script src="app/js/app.js"></script>
</head>
<body>

    <div class="nav">
        <nav id="nav">Navigation</nav>
    </div>
    
    <div id="main" class="main">
        <table align="center" width="90%">
            <tr>
                <td width="90%">Login Page</td>
            </tr>
            <tr>
                <td width="90%">hepp</td>
            </tr>
            <tr>
                <td>@myMessage</td>
            </tr>
        </table>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function () {
            method1();
        });
    </script>

</body>
</html>
